<h1>martinn6's To Do List Page</h1>

<h2>Hello {{name}},</h2> 
<h2>Here is your To Do List!</h2>
<h3>You have {{toDoCount}} items on your to do list.</h3>
<form method="post">
  Task Name: <input type="text" name="name" id="toDoName"><BR>
  City: <input type="text" name="city" id="toDoCity"><BR>
  Min Temperature: <input type="text" name="minTemp" id="toDoMinTemp"><BR>
  <input type="submit" name="Add Item" value="Add Item">
</form>
{{#if toDo}}
<ul>
  {{#each toDo}}
  <li>
   Task: {{this.name}}
    <form method="post">
      <input type="hidden" name="id" value="{{this.id}}">
      <input type="submit" name="Done" value="Mark as Done">
    </form>
  </li>
  {{/each}}
</ul>
{{/if}}